<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  {% load bootstrap5 %}
  {% load static %}
  {% bootstrap_css%}
  {% bootstrap_javascript%}
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body>
  <!-- navbar-->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'productos' %}" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'productos' %}">Flores y arbustos</a></li>
              <li><a class="dropdown-item" href="{% url 'productos' %}">Tierra de hojas</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'productos' %}">Maceteros</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'suscripcion' %}">Suscríbete</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'miperfil' %}">Mi perfil</a>
          </li>
        </ul>
      </div>
      <a class="nav-link" href="{% url 'iniciarsesion' %}">Iniciar Sesión</a>
    </div>
  </nav>
  <!--Fin navbar-->

  <!--logo_centro-->
  <div id="header_logo" class="col text-center">
    <a href="{% url 'inicio' %}" title="Botania">
      <img class="logo_img" src="{% static 'img/logo.png' %}" alt="Bootstrap" width="100" height="150">
    </a>
  </div>
  <!--logo_centro-->

  <!--Inicio Carrusel-->
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/banner1.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/banner2.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/social-media.png' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--Fin Carrusel-->

  <br>
  <hr>
  <div class="container text-center">
    <h1>Productos destacados</h1>
  </div>
  <hr><br>

  <!--Inicio cards-->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="{% static 'img/flor2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Amapola</h5>
          <p class="card-text">Embellece tu hogar.</p>
          <a href="{% url 'carrito' %}" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'img/bambu.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bambú</h5>
          <p class="card-text">Embellece tu hogar.</p>
          <a href="{% url 'carrito' %}" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'img/tierra.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tierra</h5>
          <p class="card-text">Revive tus plantas con la mejor tierra.</p>
          <a href="{% url 'carrito' %}" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
  </div>
  <!--Fin cards-->

  <br>
  <hr>
  <div class="container text-center">
    <h1>Productos nuevos</h1>
  </div>
  <hr><br>
  <!--Inicio cards-->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="{% static 'img/florespora.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Flor espora</h5>
          <p class="card-text">Embellece tu hogar.</p>
          <a href="{% url 'carrito' %}" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'img/arbusto_muerto3.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arbusto muerto</h5>
          <p class="card-text">Embellece tu hogar.</p>
          <a href="{% url 'carrito' %}" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'img/arena.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arena</h5>
          <p class="card-text">Decora tus plantas con la mejor arena.</p>
          <a href="{% url 'carrito' %}" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
  </div>
  <!--Fin cards-->

  <!--Estilo y footer-->
  <style>
    footer {
      background-color: #f2f2f2;
      padding: 10px;
      text-align: center;
      margin-top: 50px;
    }

    footer a {
      color: #333;
    }
  </style>
  <div class="container">
    <footer>
      <p>Botania Copyright© 2023</p>
      <p><a href="{% url 'nosotros' %}">Síguenos en nuestras redes sociales</a></p>
      <a href="#top">Volver arriba</a>
    </footer>
  </div>
  <!--Fin estilo y footer-->

  <!-- Incluye jQuery y Bootstrap JS justo antes de cerrar el body -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>