<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css%}
    {% bootstrap_javascript%}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body>
    <!-- navbar-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'productos' %}" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'productos' %}">Flores y arbustos</a></li>
                            <li><a class="dropdown-item" href="{% url 'productos' %}">Tierra de hojas</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'productos' %}">Maceteros</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'suscripcion' %}">Suscríbete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'miperfil' %}">Mi perfil</a>
                    </li>
                </ul>
            </div>
            <a class="nav-link" href="{% url 'iniciarsesion' %}">Iniciar Sesión</a>
        </div>
    </nav>
    <!--Fin navbar-->

    <!--logo_centro-->
    <div id="header_logo" class="col text-center">
        <a href="{% url 'inicio' %}" title="Botania">
            <img class="logo_img" src="{% static 'img/logo.png' %}" alt="Bootstrap" width="100" height="150">
        </a>
    </div>
    <!--logo_centro-->
    <br><br>
    <div class="container text-center">
        <h2>¿Pellentesque habitant?</h2>
    </div>
    <div class="texto-nosotros">
        <div class="row-">
            <div class="col">
                <p align="center">Fusce tempus metus quis nunc dapibus, id tempor mi consectetur. Pellentesque habitant
                    morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam cursus orci congue
                    arcu fermentum, a vestibulum est volutpat. Donec dignissim tellus sit amet nulla dictum hendrerit.
                    Integer sit amet risus leo. Duis eget maximus nulla. Aliquam velit tellus, pulvinar ac nisi ut,
                    efficitur venenatis dui. Quisque auctor id lorem et dignissim. Donec varius urna neque, a gravida
                    purus laoreet sit amet. Aenean aliquam orci in fringilla aliquet. Curabitur at dui cursus, placerat
                    risus eget, lobortis magna.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container text-center">
        <h2>¿Aenean venenatis?</h2>
    </div>
    <div class="texto-nosotros">
        <div class="row">
            <div class="col">
                <p align="center">Aenean venenatis pellentesque est gravida hendrerit. Mauris at feugiat lectus.
                    Maecenas hendrerit, neque non sagittis ullamcorper, sem urna imperdiet enim, in accumsan neque lorem
                    bibendum eros. Suspendisse quis laoreet risus. Donec vel porta lectus. Class aptent taciti sociosqu
                    ad litora torquent per conubia nostra, per inceptos himenaeos. Duis faucibus ante in mattis tempor.
                    Praesent facilisis at urna at congue.</p>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <br>
        <hr>
        <h2>Nuestras redes</h2>
        <hr><br>
    </div>

    <div class="container-logos">
        <div class="row">
            <div class="col-4">
                <div id="instagram_logo" class="col text-center">
                    <a href="#" title="instagram">
                        <img class="instagram" src="{% static 'img/instagram.png' %}" alt="Bootstrap" width="100">
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div id="twitter_logo" class="col text-center">
                    <a href="#" title="twitter">
                        <img class="twitter" src="{% static 'img/twitter.png' %}" alt="Bootstrap" width="100">
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div id="facebook_logo" class="col text-center">
                    <a href="#" title="facebook">
                        <img class="facebook" src="{% static 'img/facebook.png' %}" alt="Bootstrap" width="100">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Estilo y footer-->
    <style>
        footer {
            background-color: #f2f2f2;
            padding: 10px;
            text-align: center;
            margin-top: 50px;
        }

        footer a {
            color: #333;
        }
    </style>
    <div class="container">
        <footer>
            <p>Botania Copyright© 2023</p>
            <p><a href="{% url 'nosotros' %}">Síguenos en nuestras redes sociales</a></p>
            <a href="#top">Volver arriba</a>
        </footer>
    </div>
    <!--Fin estilo y footer-->

    <!-- Incluye jQuery y Bootstrap JS justo antes de cerrar el body -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="bootstrap-5.3.0-alpha2-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>