.nav-link:hover{
    color: #7bbda1;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: #033200;
    text-align: var(--bs-body-text-align);
    background-color: #d7f9db;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: #e50000;
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #44f50014;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: #47ff002b;
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0f6b10;
    --bs-btn-border-color: #0f6b10;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0f6b10;
    --bs-btn-hover-border-color: #0f6b10;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0f6b10;
    --bs-btn-active-border-color: #0f6b10;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0f6b10;
    --bs-btn-disabled-border-color: #0f6b10;
}

footer {
    background-color: #aee7a3;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

.row>.col-4, bd-example-row .row>[class^="col-"] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: #d7f9db;
    border: 1px solid black;
}

.row>.col-8, bd-example-row .row>[class^="col-"] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: #d7f9db;
    border: 1px solid black;
}

.bg-green {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.header_logo{
    width: 66.6167px;
    height: 66.6167px;
    transition: all 300ms;
    cursor: pointer;
}
.header_log > img{

    max-width: 100%;
    max-height: 100%;
    margin-left: 1rem;

}
.header_log:hover{
    transform: scale(1.1, 1.1);
}

.nav{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;

}

a{
    text-decoration: none;
}

.nav > a {
    color: #033200;
    margin-left: 5rem;
    padding: 1rem;
}

.nav > a :last-child{
    background-color: #033200;
}